
main section {
    /* border: 1px solid #ddd; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    /* grid-template-rows: 1em repeat(auto-fit); */
    grid-gap: 1em;
    margin-top: 1em;
    padding: 0 1em;

    max-width: 1200px;
    margin: 0 auto;
}

main section.shelves {
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    padding: 3em 0;
    grid-gap: 3em;
}

main section.cells {
    padding: 1em 0;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

main section div.home {
    width: 800px;
    margin: 0 auto; 
    display: inherit;
    grid-template-columns: inherit;
    /* grid-template-rows: inherit; */
    grid-gap: inherit;    
}

main section header {
    background: inherit;
    /* background-color: yellow; */
    color: gray;    
    grid-column: 1/-1;  
    /* padding-top: 0.5em; */
}

main section header h1 { padding-top: 0.5em;}
main section header h2 { padding-top: 0.5em;}
main section header h3 { padding-top: 0.5em;}

main section article {
    background-color: #ccc;
    min-height: 10em;
    /* grid-column: auto / span 2;     */
    padding: 1.4em;    
}

main section article.fullwidth {
    background-color: #aaa;
    grid-column: 1 / -1;    
}

main section nav {
    background-color: rgb(15, 21, 77);
    min-height: 12em;
    border-radius: 3px;
    border-color: #ccc;
    color: white;
}

main section nav img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

main section nav div {
    padding: 1em;
    background-color: inherited; 
}

main section nav h2 {
    margin-bottom: .4em;
}




/* 
section.jumbo  {
    background-color: rgb(61, 28, 61);
    color: white;
    min-height: 10em;
    border-radius: 4px;
    max-width: 1024px;
    margin: 1em auto;
    padding: 1em;

}

section.jumbo > div {
    font-size: 2em;
}



section.home > a > img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

section.home > a > div {
    max-width: 100%;
    padding: 1em;
}

section.home-fullwidth {
    max-width: 100%;
    min-height: 19em;
    background: #444;
    color: white;
    border-radius: 0;
} */



article.cell {
    padding: 0;
}

article.cell img {
    width: 100%;
    height: 12em; 
    object-fit: contain;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;    
}

article.cell .markdown {
    padding: 1.4em;
}

article.cell h1 {
    margin-top: 0;
    line-height: 1.1em;
    margin-bottom: 0.6em;    

}

article.cell h2 {
    font-size: 1.8em;
    margin-top: 0;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

article.cell h3 {
    margin-top: 0;
    line-height: 1.1em;
    margin-bottom: 0.6em;
}

article.cell p {
    margin-top: 0;
    font-size: 
}