* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    height: 100%;
}

body {    
    font-family: "Roboto", sans-serif;    
    display: grid;
    min-height: 100%;
    grid-template-rows: 60px auto 100px;
    grid-template-columns: 100px auto;
    /* overflow-y:auto; */
    overflow:hidden;
}

header {
    background: rgb(115, 115, 192);
    color: white;
    grid-column: 1/3;
    grid-row: 1/2;
}

footer {
    background: rgb(115, 115, 192);
    grid-row: 3/4;
    grid-column: 1/3;
}

main {
    border: 1px solid green;
    grid-row: 2/3;
    grid-column: 1/3;
}

a {
    text-decoration: none;
}

section.home {
    background: #eee;
    min-height: 10em;
    border-radius: 4px;
    max-width: 1024px;
    margin: 1em auto;
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    grid-gap: 1em;
}

section.invisible{
    background: white;
    margin: 0em auto;
    padding: 0.3em;
}

section.home > a {
    min-height: 10em;
    background-color: white;  
    border-radius: 0.2em;  
    min-height: 20em;
}

section > header {
    background: inherit;
    color: gray;
    font-size: 2em;
    grid-column: 1/5;
  
}

section.home > a > img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

section.home > a > div {
    max-width: 100%;
    padding: 1em;
}

section.home-fullwidth {
    max-width: 100%;
    min-height: 19em;
    background: #444;
    color: white;
    border-radius: 0;
}

div.book {
    width: 100%;
    display: grid;
    min-height: 100%;
    grid-template-rows: 3.5em auto;
    grid-template-columns: 20em auto;
}

div.book > header {
    background-color: #eee;
    color: gray;
    font-size: 2em;
    padding: 0.2em;
    grid-column: 1/4;
    grid-row: 1/2;
}

div.book > nav {
    background-color: #ddd;
    color: gray;
    font-size: 1em;
    grid-column: 1/2;
    grid-row: 2/5;
}

div.book > article {
    background-color: white;
    color: black;
    font-size: 1em;
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 4em;
    
}

div.book > article > h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

div.book > article > h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

div.book > article > h3 {
    margin-top: 1em;
    font-size: 1.8em;
    margin-bottom: 0.4em;
}

.markdown {
    font-size: 1.2em;
    line-height: 1.4em;
    column-count: 2;
    column-gap: 2em;
    
}

.markdown  h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.markdown  h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.markdown  h3 {
    font-size: 1.4em;
    margin-bottom: 0.3em;
}




/* header {
    padding: 0.5em;
    background-color: #aaf;
    /* min-height: 1.5em; */
    width:100%;
    /* display: inline-grid; */
    /* grid-template-columns: 1fr 2fr ;
    grid-column-gap: 1em; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

main#content {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: 1em;
}

main#develop {
    padding: 1em;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

form {
    /* display: inline-grid;
    grid-template-columns: repeat(4, 200px); ;
    grid-column-gap: 1em; 
    text-align: right; */
    display: flex;
    align-items: center;
}

form > * {
    margin-left: 1em;
}

#logs {
    background-color: #ccf; 
}

#logs div {
    background-color: white;
    padding-left: 1em;
    margin-bottom: 2px;
}

#errors {
    background-color: #fcc; 
}

#errors div {
    background-color: white;
    padding-left: 1em;
    margin-bottom: 2px;
}



.statelabel {
    font-weight: bold;
    padding: 2px;
}

.stateitems {
    /* padding-left: 20px; */
}
.stateitem {
    padding-left: 1em;
    margin-bottom: 2px;
    /* border-radius: 4px; */
}

.statelog {
    background-color: #ccf;  
}

.stateerror {
    background-color: #fcc;
}

.invalid {
    background-color: #fcc;
}

input {
    padding: 4px;

}

button {
    padding: 4px;
}

.padleft {
    padding-left: 2em;
}

details {
    padding: 2px;
    padding-left: 1em;
    border: 1px solid #aaa;
}

summary {
    padding: 2px;
}

.protected {
    background-color: #fcc;
}

.open {
    background-color: #cfc;
}


/*--------------------------------------------------*/
/* 
section.shelf > header {    
    grid-area: header;
    padding: 0;
    padding-bottom: 0.3em;
    background-color:inherit;
    font-weight: bold;
    font-size: 110%;
}

section.shelf > footer {
    padding-top: 0.3em;
    grid-area: footer;
    background-color: inherit;
}

section.shelf > article {
    min-height: 5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em; 
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;  
    display: inline-grid;
    grid-template-columns: 1fr;     
} 

section.shelf > article > figure {
    background-color: rgb(98, 165, 89);
    min-height: 7em;
}

section.shelf > article > summary {
    background-color: white;
    padding: 1em;
    min-height: 7em;
}

section.shelf > article > summary > h3 {
    margin-bottom: 0.5em;
}
section.shelf > article > summary > p {
    font-size: 80%;    
    color: gray;
}


section.shelf > article > footer {
    padding: 1em;
   background-color: white; 
   color: #039be5;
   font-size: 90%;   
   border-bottom-left-radius: 0.5em;
   border-bottom-right-radius: 0.5em;   
   text-align: right; 
} */



/* main.content {
    display: block
} */

/* section.shelf {    
    background-color: #dedede;
    padding: 0.8em;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 0em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "article article article article"
    "footer footer footer footer"; 
}

section > a {
    display: inline-block;
    padding: 0.3em 0.6em;
    border-radius: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    /* text-transform: uppercase; */
    border: 2px transparent #039be5;
    background: transparent;
    color: #0099CC; 

}

section > a:hover {
    background-color: #039be5;
    color: white;
} */

/* button {
    display: inline-block;
    padding: 0.3em 0.6em;
    border-radius: 0.2em;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #24739b;
    background: transparent;
    color: #24739b; 
    font-size: 100%;

}

button:hover {
    background-color: white;
    color: #24739b;
} */

input {
    display: inline-block;
    padding: 0.3em 0.6em;
    border-radius: 0.2em;
    transition-duration: 0.4s;
    text-decoration: none;
    /* text-transform: uppercase; */
    border: 1px solid #24739b;
    font-size: 100%;
}

.access0 {
    background-color: #cfc;
}

.access1 {
    background-color: #ccf;
}

.access2 {
    background-color: #fcc;
}

.border {
    border: 1px solid black;
    padding: 2px;
}



.error {
    background-color: #fcc;
}


/* .grid4 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 0.5em;
    padding: 0.5em;
}

.grid2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 0.5em;
    padding: 0.5em;
}

.grid1 {
    display: inline-grid;
    grid-template-columns: 1fr ;
    grid-gap: 0.5em;
    padding: 0.5em;    
} */


/* 
article header {
    padding: 0.5em;
}

article > header {
    grid-area:"header";
    background-color: #dfd;
}

article > aside {
    grid-area:"aside";
}

article > section#section1 {
    grid-area:"section1";
}
article > section#section2 {
    grid-area:"section2";
}

article {
    display:inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "aside section1"
        "aside section2";

} */

nav {
    /* background-color: #ddd; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 200px));
    padding: 0.2em;
}

nav > a {
    margin: 0.1em;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0.5em;
    background-color: #eee;
}

nav > a.selected {
    background-color: white;
}