* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: "Open sans";
}

header {
    padding: 10px;
    background-color: #afa;
}

.statelabel {
    font-weight: bold;
}

.stateitems {
    padding-left: 20px;
}
.stateitem {
    padding-left: 4px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.statelog {
    background-color: #aaf;  
}

.stateerror {
    background-color: #faa;
}

.invalid {
    background-color: #fcc;
}

input {
    padding: 4px;
}